body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* justify-items(content)는 자식이 width 값을 가질 때 가로 방향의 위치를
align-items(content)는 자식이 height의 값을 가질 때 세로 방향의 위치를 담당한다 */
.father {
  display: grid;
  grid-template-column: [cucumber] 100px [potato] 200px [banana] 50px [brocoli];
  grid-template-row: [korea] 200px [thailand] 100px [greece];
}
.child {
  background-color: tomato;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:last-child {
  background-color: turquoise;
  /* grid-column-start: 2;
  grid-column-end: -1; 
  grid-column: potato / brocoli; */
}

.child:first-child {
  /* grid-column-start: 2;
  grid-column-end: -1; 
  grid-row: korea / greece; */
}
